


.back-btn{
    text-decoration: none;
    font-size: 3rem;
    margin: 0.5rem 2rem 0 1rem;
    padding: 1rem;
    color: #F6DA74;
}
.back-btn:hover{
    transform: scale(1.1);
}





.main-flex-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-box{
    width: 40vw;
    background-color: gray;
    border-radius: 2rem;
    margin: 1rem;
}

.item-img{
    width: 100%;
}